/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#testoAlternato {
  padding: 1.5%;
  border: solid 2px rgb(102, 102, 102);
  width: 700px;
  font-size: 200%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 255, 231);
  overflow: hidden;
}
p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.parole {
  color: rgb(97, 118, 137);
  font-weight: bold;
  opacity: 10;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-evenly;
  height: 120vh;
  translate: -110px 32px;
  animation: muovili 18s ease infinite;
}
@keyframes muovili {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(200px);
  }
}

.parole i {
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.parole i:first-child {
  opacity: 1;
}
.parole i:nth-child(2) {
  animation-delay: 3s;
}
.parole i:nth-child(3) {
  animation-delay: 6s;
}

#testoAlternato .parole i {
  opacity: 1;
  transform: translateY(130%);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
#testoAlternato .parole i:first-child {
  transition-delay: 0s;
}

#testoAlternato .parole i:nth-child(2) {
  transition-delay: 1s;
}

#testoAlternato .parole i:nth-child(3) {
  transition-delay: 2s;
}
