body {
  margin: 1em;
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/indieflower/v21/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-size: 170%;
  background-color: grey;
}
h1 {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 5%;
}
.postItS {
  height: 94.16vh;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}
.postIt {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 17px 18px 10px -11px rgba(0, 0, 0, 0.3);
  margin-bottom: 2.5%;
}
.primo {
  background-color: rgb(224, 214, 165);
}
.secondo {
  background-color: rgb(168, 223, 178);
}
.terzo {
  background-color: rgb(192, 172, 193);
}
.quarto {
  background-color: rgb(168, 223, 178);
}
.quinto {
  background-color: rgb(224, 214, 165);
}
.sesto {
  background-color: rgb(192, 172, 193);
}
.settimo {
  background-color: rgb(224, 214, 165);
}
.ottavo {
  background-color: rgb(168, 223, 178);
}
